<!DOCTYPE html>
<html>
    <body>
        <ul>
            <table border="1">
                <tr>
                    <th>차량 번호</th>
                    <th>차량 소속</th>
                    <th>차량 종류</th>
                    <th>차량 연식</th>
                    <th>차량 점검일</th>
                    <th>차량 점검 결과</th>
                </tr>
                <tr>
                    <th><%=car.car_id%></th>
                    <th><%=car.car_div%></th>
                    <th><%=car.car_type%></th>
                    <th><%=car.car_birth%></th>
                    <th><%=car.car_day%></th>
                    <th><%=car.car_result%></th>
                </tr>
            </table>
    </body>
</html>